$blue: #409EFF;
.el-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-left: 155px;
  font-size: 35px;
  align-items: center;
  color: #262626;
  box-shadow:inset 0px 1px 1px -1px #000,
             inset 0px -1px 1px -1px #000; 
}

.a {
  font-size: 1.1em;
}
.btn-w {
  position: relative;
  right: 130px;
}
.k {
  height: 550px;
  background-color: #f7f7f7;
  border-right: solid;
  border-color: #e6e6e6;
  border-width: 1px;
}
.el-aside {
  height: 100%;
  text-align: left;
}
.icon {
  height: 45px;
  position: relative;
  right: 400px;
}
.icon1 {
  height: 40px;
  position: relative;
  left: 68px;
}
.clock{
  text-align:center;
  margin-top:10px;
}

.clock1{
  text-align:center;
  margin-top:25px;
}
.left-aside {
  margin-top: 57px;
  background-color: #f7f7f7;
}
.item {
  height: 80px;
  line-height: 80px;
}
.qs-list {
  width: 116rem;
  margin: -20px auto;
  color: #666;
  font-size: 1.6rem;
  ul {
    height: 6rem;
    margin: {
      left: 2rem;
      right: 2rem;
    }
    list-style: none;
    line-height: 6rem;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    &:hover {
      background-color:#F0F8FF;
    }
    &:nth-of-type(1) {
      background-color: #efefef;
      padding: {
        left: 2rem;
        right: 2rem;
      }
      margin: 0;
    }
    li {
      display: inline-block;
      &:nth-of-type(1) {
        width: 5rem;
        text-align: center;
      }
      &:nth-of-type(2) {
        width: 40rem;
      }
      &:nth-of-type(3) {
        width: 10rem;
      }
      &:nth-of-type(4) {
        width: 55rem;
        span {
          display: inline-block;
          height: 2.5rem;
          width: 9.5rem;
          margin-left: 15rem;
          line-height: 2.5rem;
          font-size: 1.4rem;
          text-align: center;
          color: #fff;
          border: 1px solid $blue;
          border-radius: .3rem;
          background-color: $blue;
          cursor: pointer;
          &:hover {
            box-shadow: 0 0 5px $blue;
          }
        }
      }
    }
  }
  .发布中 {
    color: #1E90FF;
  }
  el-button {
    width: 7rem;
    height: 2.5rem;
    padding: {
      top: .3rem;
      bottom: .3rem;
    }
    line-height: 100%;
    color: #777;
    border: 1px solid #555;
    border-radius: .2rem;
    background-color: #fff;
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 5px #bbb;
    }
  }
  .list-bottom {
    box-sizing: border-box;
    height: 8rem;
    margin: 0 2rem;
    padding: 2rem 0;
    background-color: #fff;
    label {
      margin: {
        left: 1.8rem;
        right: 4rem;
      }
      input {
        margin-right: 2.3rem;
      }
    }
  }
  .shadow {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(85, 85, 85, .7);
    .del-dialog {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 40rem;
      height: 27rem;
      transform: translateX(-50%) translateY(-50%);
      border-radius: .5rem;
      box-shadow: 0 0 5px #555;
      background-color: #fff;
    }
    header {
      height: 5rem;
      padding: {
        left: 3rem;
        right: 3rem;
      }
      line-height: 5rem;
      border-radius: .5rem;
      background-color: #f7f7f7;
      span:nth-of-type(1) {
        font-weight: 700;
      }
      .close-btn {
        position: absolute;
        right: 3rem;
        color: #bbb;
        cursor: pointer;
        &:hover {
          color: $blue;
        }
      }
    }
    .del-dialog p {
      margin-top: 3rem;
      margin-left: 3rem;
    }
    .btn-box {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 6rem;
      text-align: center;
      line-height: 6rem;
      .yes {
        margin-right: 1rem;
        color: #fff;
        background-color: $blue;
        border: 1px solid $blue;
        &:hover {
          box-shadow: 0 0 5px $blue;
        }
      }
    }
  }
  .add-qs {
    width: 100rem;
    height: 30rem;
    margin-top: 57px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 1px 1px 4px #aaa;
    background-color: #fff;
    .add-btn {
      width: 20rem;
      height: 5rem;
      color: #fff;
      font-size: 2rem;
      border: 1px solid $blue;
      background-color: $blue;
      &:hover {
        box-shadow: 0 0 5px $blue;
      }
    }
  }
}
